/* Estilo geral do corpo da página */
body {
    background: linear-gradient(to bottom, #aaf2c9, #ffffff); /* Gradiente verde claro para branco */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif; /* Fonte padrão */
    color: #333; /* Cor do texto padrão */
    margin: 0;
    padding: 0;
}

/* Estilo do container principal */
.container {
    background-color: #ffffff;
    border-radius: 12px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra mais suave e moderna */
    padding: 30px;
    margin-top: 60px; /* Margem superior um pouco maior */
    max-width: 800px; /* Largura máxima do container */
    margin: 60px auto; /* Centralizando o container */
}

/* Estilo dos títulos */
h2 {
    color: #28a745; /* Verde primário para o título */
    font-size: 2rem; /* Tamanho de fonte maior */
    margin-bottom: 20px;
    font-weight: 600; /* Peso da fonte mais forte */
}

/* Estilo dos formulários */
form {
    max-width: 700px; /* Largura máxima para o formulário */
    margin: 0 auto; /* Centralizando o formulário */
}

/* Estilo dos campos de formulário */
.form-control, .form-control-file {
    border-radius: 0.5rem; /* Bordas mais arredondadas */
    border: 1px solid #ced4da; /* Borda suave */
    padding: 12px; /* Padding interno maior */
    margin-bottom: 20px; /* Margem inferior maior */
}

/* Estilo para o estado de foco dos campos de formulário */
.form-control:focus, .form-control-file:focus {
    border-color: #28a745; /* Verde para o foco */
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25); /* Verde suave */
}

/* Estilo do botão primário */
.btn-primary {
    background-color: #28a745; /* Verde primário */
    border: none;
    border-radius: 0.5rem; /* Bordas arredondadas do botão */
    padding: 12px 24px; /* Padding interno maior */
    color: #ffffff; /* Texto branco */
    font-size: 1rem; /* Tamanho da fonte do botão */
    font-weight: 500; /* Peso da fonte do botão */
    cursor: pointer; /* Cursor de ponteiro */
    transition: background-color 0.3s; /* Transição suave para hover */
}

/* Estilo do botão primário ao passar o mouse */
.btn-primary:hover {
    background-color: #218838; /* Verde escuro ao passar o mouse */
    color: #ffffff; /* Garantir que o texto permaneça branco */
}

/* Estilo dos rótulos dos formulários */
.form-group label {
    display: flex;
    align-items: center;
    font-size: 1rem; /* Tamanho da fonte do rótulo */
    color: #333; /* Cor do texto dos rótulos */
    margin-bottom: 10px; /* Margem inferior dos rótulos */
}

/* Estilo dos ícones dentro dos rótulos */
.form-group label i {
    margin-right: 12px; /* Margem direita maior para espaçamento confortável */
    color: #28a745; /* Verde para os ícones */
}
