
body {
    background-color: #f8f9fa;
}
.navbar {
    margin-bottom: 30px;
}
.navbar-brand img {
    max-height: 50px;
}
.form-inline input,
.form-inline button {
    margin-right: 10px;
}
.form-inline input {
    border-radius: 25px;
}
.btn-success,
.btn-info,
.btn-secondary,
.btn-primary {
    border-radius: 25px;
}
.table th,
.table td {
    text-align: center;
}
.table th {
    background-color: #343a40;
    color: white;
}
.table td {
    background-color: #ffffff;
}
.table-bordered {
    border: 1px solid #dee2e6;
}
.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
}
.table a {
    color: #007bff;
}
.table a:hover {
    text-decoration: none;
    color: #0056b3;
}
.btn-sm {
    font-size: 0.875rem;
}
.btn-warning {
    border-radius: 25px;
}
.btn-danger {
    border-radius: 25px;
}
.animate__animated {
    animation-duration: 1s;
}
.animate__pulse {
    animation-name: pulse;
}